header{
  background-color: #c5aede;
  margin:0px 0px 200px 100px;
}
nav {
    background-color: #c5aede
    /*border-top-color: red;
    border-top-width: 10px;
    border-top-style: solid;
    /* border-right-color: lime; */
    /* border-right-width: 20px; */
    /* border-right-style: dashed; */
    /*border-right: cyan 42px solid;
    border: 20px dotted yellow;
    border-width: 40px 20px 8px 82px;*/
}
.contact{
width: 50%;
float: left;
border: 1px solid black;
}
.part1{
  height: 300px;
}
